
/*page aigle*/

body{
background:url('ciel.jpg');
}

#débutaigle a{
	 color:red;
 }
 
 #titre{
	 	 text-align:center;
 }
 
 #titre span{
	 background-color:yellow;	 
 }
 
 
 p{
	Font-family: Dejavu Sans, Arial, Verdana, sans-serif;
 }
 
 #titre3, #titre2{
	 text-align:center;
 }
 
 #titre3 span,#titre2 span{
	 background-color:yellow;
	 text-decoration:underline;
 }
 
 
 a{
	 text-align:center;
 }
 
 #fin, #finours, #finecureuil{
	 text-align:right;
	 color:red;
 }
 #fin span, #finours span, #finecureuil span{
	 background-color:yellow;
	 color:black;
	 font-weight:bold;
 }
 
#finpage, #finpage2{
	text-align:center;
}



/*page ours*/

#fondours{
	background:url('foretours.jpg');
}

#débutours a{
	color:white;
}

#titreours span{
	background-color:yellow;
	text-decoration:underline;
}

#titreours2, #titreours3, #titreours4{
	text-align:center;
}

#titreours2 span, #titreours3 span, #titreours4 span{
	background-color:yellow;
	text-decoration:underline;
}

#ours, #ours2, #ours3{
	color:#FFAD00;
}

#tableours span{
	background-color:yellow;
	
}

#ours4{
	color:yellow;
	font-family:Gill Sans, Gill Sans MT, Calibri, sans-serif
}

#ours5{
	color:white;
	font-family:Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
}





/*page ecureuil*/


#fondecureuil{
	background:url('nature9.jpg');
}

#débutecureuil a{
	color:#8200FF;
}

#ecureuiltext1 span{
	background-color:yellow;
}

#ecureuiltext1{
	text-align:center;
}

#intro{
	color:yellow;
	font-family:Franklin Gothic, Arial Bold;
}

#ecureuiltext2{
	color:#F802EA;
	font-family:Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#ecureuiltext3{
	color:#00FED7;
	font-family:Dejavu Sans, Arial, Verdana, sans-serif;
	font-weight:bolder;
}

#ecureuiltitre span{
	background-color:yellow;
	text-decoration:underline;
}
#ecureuiltext4{
	color:red;
	font-family:MS Sans Serif, sans-serif;
}

