
/*page aigle*/

body{
background:url('ciel.jpg');
width:100%;
}
#débutaigle{
	 text-align:center;
	
}

#débutaigle a{
	 color:red;
	 border:solid #34D200 ;
 }
 
 #titre{
	 	 text-align:center;
 }
 
 #titre span{
	 background-color:yellow;	 
 }
 
 #imgparaaigle{
	 display:inline-block;
 }
 
 p{
	Font-family: Dejavu Sans, Arial, Verdana, sans-serif;
 }
 
 #para1{
	 display:inline-block;
	 Font-family: Dejavu Sans, Arial, Verdana, sans-serif;
	 float:right;
	 width:85%;
 }
 
 #titre3, #titre2{
	 text-align:center;
 }
 
 #titre3 span,#titre2 span{
	 background-color:yellow;
	 text-decoration:underline;
 }
 
#imgparaaigle2{
	float:left;
	margin-left: 400px;
}
 
#listeaigle2{
	width:100%;

}
 
 #liaigle{
	float:left;
	padding:40px;
 }

 a{
	 text-align:center;
 }
 
 #fin, #finours, #finecureuil{
	 text-align:right;
	 color:red;
 }
 #fin span, #finours span, #finecureuil span{
	 background-color:yellow;
	 color:black;
	 font-weight:bold;
 }
 
#finpage, #finpage2{
	text-align:center;
	color:blue;
}



/*page ours*/

#fondours{
	background:url('foretours.jpg');
	width:100%;
	height:100%;
}

#débutours{
	text-align:center;
}
#débutours a{
	color:white;
	 border:solid red;
}

#hdepageours{
	display:inline-block;
	width:100%;
}

#im1, #im2{
	float:left;
}

#im1, #im3, #im4, #im2{
	width:350px; 
	height:350px;
}
#tableours {
	position:relative;
	left:100px;
	top:100px;
}
#im3, #im4{
	float:right;
	position:relative;
	bottom:80px;
}

#titreours span{
	background-color:yellow;
	text-decoration:underline;
}

#titreours2, #titreours3, #titreours4{
	text-align:center;
}

#titreours2 span, #titreours3 span, #titreours4 span{
	background-color:yellow;
	text-decoration:underline;
}

#ours, #ours2, #ours3{
	color:#FFAD00;
}

#tableours span{
	background-color:yellow;
}

#ours4{
	color:yellow;
	font-family:Gill Sans, Gill Sans MT, Calibri, sans-serif;
	width:86%;
	float:right;
}

#ours2{
	width:80%;
	float:left;
}
#imgours{
	width:350px;
	height:350px;
}

#ours5{
	color:white;
	font-family:Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
}

#imgfin {
	width:250px;
	height:250px;
	padding:100px;
}

#oursfin1{
	width:400px;
}

#oursfin3{
	width:300px;
}

#oursfin4{
	width:300px;
	height:300px;
}



/*page ecureuil*/

#fondecureuil{
	background:url('nature9.jpg');
	width:100%;
	height:100%;
}

#débutecureuil{
	text-align:center;
}

#débutecureuil a{
	color:yellow;
	border:solid black;
}

#imgecureuil{
	width:350px;
	height:300px;
}

#ecureuiltext1 span{
	background-color:yellow;
}

#ecureuiltext1{
	text-align:center;
}

#intro{
	color:yellow;
	font-family:Franklin Gothic, Arial Bold;
}

#midpage{
	width:100%;
}

#ecureuiltext2{
	position:relative;
	left:320px;
	bottom:190px;
	color:#F802EA;
	font-family:Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	width:30%;
	height:10%;
}

#imgecu2{
	position:relative;
	left:900px;
	bottom:530px;
}

#ecureuiltext3{
	position:relative;
	bottom:650px;
}

#imgecu3{
	position:relative;
	bottom:530px;
}

#ecureuiltext3{
	color:#00FED7;
	font-family:Dejavu Sans, Arial, Verdana, sans-serif;
	font-weight:bolder;
	width:20%;
	height:10%;
	float:right;
}

#imgecu3{
	float:right;
}

#ecureuiltitre span{
	background-color:yellow;
	text-decoration:underline;
}

#ecureuiltext4{
	color:red;
	font-family:MS Sans Serif, sans-serif;
}

#finecu{
	position:relative;
	bottom:400px;
}

/*page dauphin*/


#fonddauphin{
	background:url('back1.jpg');
}

#débutdauphin{
	text-align:center;
}

#débutdauphin a{
	color:gray;
	border:solid gray;
}

#titredauphin1{
	text-align:center;
	color:gray;
}

#imdauphin1{
	width:300px;
	height:300px;
}

#partie1dauphin p{
	float:right;
	width:80%;
}

#imdauphin2, #imdauphin3, #imdauphin4,#imdauphin5, #imdauphin6{
	width:500px;
	height:300px;
}

/*page girafe*/

#fondgirafe{
	background:url('back.jpg');
}

#débutgirafe{
	text-align:center;
}

#débutgirafe a{
	border:solid red;
	color:red;	
}

#titregirafe1{
	color:red;
	text-align:center;
}

#imgirafe1{
	width:300px;
	height:300px;
}

#imgirafe2{
	width:500px;
	height:300px;
}

#partie1girafe{
	float:right;
	width:83%;
}


/*page éléphant*/

#fondelephant{
	background:url('backelephant.png');
}

#débutelephant{
	text-align:center;
}

#débutelephant a{
	border:solid blue;
	color:blue;
}

#titre1elephant{
	text-align:center;
	color:blue;
}

#partie1elephant p{
	float:right;
	width:80%;
}

#imelephant1{
	width:300px;
	height:300px;
}

#imelephant2{
	width:500px;
	height:300px;
}



/*page loup*/

#fondloup{
	background:#DADADA;
	width:100%;
	height:100%;
	border:solid gray;
}

#débutloup{
	text-align:center;
}

#débutloup a{
	color:gray;
	border:solid #9A9A9A;
}

#titre1loup{
	color:gray;
	text-align:center;
}

#tableloup1{
	border:solid gray;
}

#paraloup1{
	width:72%;
	border:solid gray;
	float:left;
	font-size:13px;

}

#imloup1{
	border:solid gray;
	height:150px;
	width:25%;
	border:solid gray;
	float:right;
}

#imloup2{
	height:250px;
	width:39%;
	float:left;
	border:solid gray;
}

#cadre2loup{
	border:solid gray;
	float:right;
	width:60%;
	font-size:12px;

}

#titreloup2{
	text-align:center;
	color:gray;
	
}

#cadre3loup{
	border:solid gray;
	float:left;
	width:60%;
	font-size:12px;
}

#imloup4{
	width:39%;
	height:294px;
	float:right
}

#imloup5{
	width:25%;
	float:left;
	border:solid gray;
	height:280px;
}

#cadre4loup{
	border:solid gray;
	float:right;
	width:74%;	
	font-size:12px;
}

#cadre5loup{
	float:left;
	width:60%;
	border:solid gray;
	font-size:13px;
}

#im6loup{
	float:right;
	width:33%;
	height:311px;
	border:solid gray;
}

#im7loup{
	float:left;
	width:25%;
	border:solid gray;
}

#cadre6loup{
	border:solid gray;
	width:70%;
	float:right;
	font-size:12px;
}

#finloup{
	text-align:center;
	float:left;
	position:relative;
	left:450px;
}


/*page lynx*/
#fondlynx{
	background:url('brown.jpg');
	border:solid black;
	width:100%;
	height:100%;
}

#débutlynx{
	text-align:center;
}

#débutlynx a{
		border:solid black;
		color:black;
}

#titre1lynx{
	text-align:center;
	color:black;
}

#cadre1lynx{
	border:solid black;
	width:64%;
	height:200px;
	float:left;
}

#im1lynx{
	width:35%;
	float:right;
	height:200px;
	border:solid black;
}

#im2lynx{
	width:35%;
	float:left;
	height:150px;
	border:solid black;
}

#titre2lynx{
	text-align:center;
	color:brown;
}

#cadre2lynx{
	border:solid black;
	float:right;
	height:150px;
	width:64%;
}

#cadre3lynx{
	width:64%;
	border:solid black;
	height:200px;
	float:left;
}

#im3lynx{
	float:right;
	width:35%;
	height:200px;
	border:solid black;
}

#im4lynx{
	width:35%;
	float:left;
	height:200px;
	border:solid black;
}

#cadre4lynx{
	width:64%;
	float:right;
	height:200px;
	font-size:12px;
	border:solid black;
}

#cadre5lynx{
	width:64%;
	height:150px;
	border:solid black;
	float:left;
}

#im5lynx{
	float:right;
	width:35%;
	height:150px;
	border:solid black;
}

#im6lynx{
	float:left;
	width:35%;
	height:200px;
	border:solid black;
}

#cadre6lynx{
	float:right;
	width:64%;
	height:200px;
	border:solid black;
}

#finlynx{
	text-align:center;
}

#flynx{
	position:relative;
	left:750px;
}

/*page baleine*/

